hidden = [".config"]
modules = ["python-3.11", "web"]
run = "python -m http.server 8000"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python3 -m http.server 8000"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8000
externalPort = 80
